<div class="row model-builder-header">
    <div class="col-sm-6 mt-4"
         *ngIf="!currentModel">
        <h3><i class="fas fa-sitemap"></i> Model Manager</h3>
    </div>
    <div class="col-sm-6 mt-4"
         *ngIf="currentModel">
        <h3><i class="far fa-file-code"></i> {{currentModel.fieldName}}</h3>
    </div>
    <div class="mt-4 col-sm-3"
         dropdown>
        <button class="btn btn-warning"
                dropdownToggle
                title="Switch to another model"><i class="fas fa-exchange-alt"></i> Select different Model</button>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"
                class="text-center dropdown-model-item"
                *ngFor="let item of list$ | async"
                (click)="onSelectModel(item)">{{item.fieldName}}</li>
        </ul>
    </div>

    <div class="text-right mt-4 col-sm-3">
        <button class="btn btn-success"
                (click)="openModal(createTemplate)"
                title="Create New Model"><i class="fas fa-plus"></i> Create New Model</button>
    </div>

</div>
<div class="row text-center bg-secondary mt-2 text-dark"
     *ngIf="!currentModel">
    <div class="empty-model col-12 pt-4 pb-4">
        <p class="mt-4 mb-4">Create New Model Field</p>
        <div class="empty-model-icon mt-4 mb-4">
            <a (click)="openModal(createTemplate)">
                <i class="fas fa-code"></i>
            </a>
        </div>
    </div>
</div>

<div class="row text-center bg-secondary mt-2 pt-2 text-dark"
     *ngIf="currentModel">
    <div class="text-warning col-sm-1 bracket">{{"{" }}</div>
    <div class="text-right col-sm-11"
         dropdown>
        <button class="btn btn-info mr-1"
                (click)="openModal(createObject)"
                title="Add Merge Object"><i class="fas fa-plus-square"></i> Add Merge Object</button>

        <div class="btn-group"
             dropdown>
            <button type="button"
                    dropdownToggle
                    class="btn btn-warning mr-1"> <i class="fas fa-plus"></i> Add Merge Field</button>
            <ul id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu"
                role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"
                    class="text-center select-merge-field"
                    *ngFor="let mergeField of availableMergeFields"
                    (click)="addMergeField(mergeField)">{{mergeField.name}}</li>
            </ul>
        </div>

        <button class="btn btn-danger"
                (click)="onDelete()"
                title="Delete Model Permanently "><i class="fas fa-dumpster"></i> Delete Model Permanently</button>
    </div>
    <div class="field-list ml-5">
        <app-merge-field-item *ngFor="let field of currentModel.fields"
                              [field]="field"
                              (removeRequest)="removeMergeField($event)"></app-merge-field-item>
        <app-merge-object-item *ngFor="let mergeItem of currentModel.objects"
                               [mergeObject]="mergeItem"></app-merge-object-item>
    </div>
    <div class="text-left text-warning bracket col-sm-12">{{ "}" }}</div>
</div>

<ng-template #createTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create Model Object</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #fCreate="ngForm"
              (ngSubmit)="onCreate()"
              novalidate>
            <div class="form-group">
                <label for="createName">Model Object Name</label>
                <input type="text"
                       class="form-control"
                       id="createName"
                       [(ngModel)]="createMergeObject.fieldName"
                       name="name"
                       required
                       #name="ngModel"
                       placeholder="Container Name">
            </div>

            <button class="btn btn-success"
                    [disabled]="fCreate.invalid">Create</button>

        </form>
    </div>
</ng-template>

<ng-template #createObject>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create Merge Object</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #fCreate="ngForm"
              (ngSubmit)="onCreateMergeObject()"
              novalidate>
            <div class="form-group">
                <label for="createName">Object Name</label>
                <input type="text"
                       class="form-control"
                       id="createName"
                       [(ngModel)]="createMergeObject.fieldName"
                       name="name"
                       required
                       #name="ngModel"
                       placeholder="Container Name">
            </div>

            <button class="btn btn-success"
                    [disabled]="fCreate.invalid">Create</button>

        </form>
    </div>
</ng-template>