<div class="row">
    <div class="col-6 mt-4">
        <h3>Manage Models</h3>
    </div>
    <div class="text-right mt-4 col-6">
        <button class="btn btn-success"
                (click)="openModal(createTemplate)"><i class="fas fa-plus"></i> Create Model Field</button>
    </div>
</div>

<div class="row border border-secondary pt-2 "
     *ngFor="let model of list$ | async ">
    <div class="col-sm-4 col-md-6">
        <p class="pt-2"><i class="fas fa-code"></i> {{model.name}}</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs"
         dropdown>
        <button id="button-basic"
                dropdownToggle
                type="button"
                class="btn btn-primary dropdown-toggle">
            Add Merge Field
        </button>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu select-mergfield-dropdown"
            role="menu">

            <li role="menuitem"><a class="dropdown-item"
                   [routerLink]="['/manage-merge-fields']"> <i class="fas fa-plus"></i> Create Merge Fields</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"
                *ngFor="let item of mergeFields$ | async">
                <a class="dropdown-item"
                   (click)="selectMergeField(item, model)">{{item.name}}</a></li>
        </ul>
    </div>

    <div class="text-right col-sm-4 col-md-3">
        <button title="Manage Merge Field"
                class="btn btn-warning mr-1"
                (click)="openModal(updateTemplate, model)"><i class="fas fa-edit"></i></button>
        <button title="Delete Model"
                class="btn btn-danger"
                (click)="onDelete(model)"><i class="fas fa-trash-alt"></i></button>
    </div>
    <div class="col-12 bg-secondary mt-2">
        <div class="text-danger model-filler">{{ "{" }}</div>

        <div class="mergefield-container row mt-1"
             *ngFor="let field of model.fields">
            <div class="text-warning col-1 offset-1 text-right">{{"{"}}</div>

            <div class="border border-warning col-3 bg-dark"> Name: {{field.name}} </div>

            <div class="border border-warning col-3 bg-dark"> Type:
                {{field.type}}</div>

            <div class="text-warning col-1">{{"}"}}</div>

            <div class="col-3">
                <button title="Move Up"
                        class="btn btn-dark mergfield-button mr-1"><i class="fas fa-chevron-up"></i></button>
                <button title="Move Down"
                        class="btn btn-dark mergfield-button mr-1"><i class="fas fa-chevron-down"></i></button>
                <button title="Remove MergeField"
                        class="btn btn-danger mergfield-button"
                        (click)="onDelete(model)"><i class="fas fa-trash-alt"></i></button>

            </div>
        </div>


        <div class="text-danger model-filler">{{"}"}}</div>
    </div>
</div>

<div class="row text-center bg-secondary mt-2 text-dark">
    <div class="empty-email-model col-12 pt-4 pb-4">
        <p class="mt-4 mb-4">Create New Model Field</p>
        <div class="empty-email-model-icon mt-4 mb-4">
            <a (click)="openModal(createTemplate)">
                <i class="fas fa-code"></i>
            </a>
        </div>
    </div>
</div>


<ng-template #updateTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update "{{updating.name}}" Model</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #fUpdate="ngForm"
              (ngSubmit)="onUpdate(fUpdate)"
              novalidate>
            <div class="form-group">
                <label for="updateName">Model Title</label>
                <input type="text"
                       class="form-control"
                       id="updateName"
                       [(ngModel)]="updating.name"
                       name="name"
                       required
                       #name="ngModel">
            </div>

            <button class="btn btn-success"
                    [disabled]="fUpdate.invalid">Update</button>


        </form>
    </div>
</ng-template>

<ng-template #createTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Model</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #fCreate="ngForm"
              (ngSubmit)="onCreate(fCreate)"
              novalidate>
            <div class="form-group">
                <label for="createName">Model Title</label>
                <input type="text"
                       class="form-control"
                       id="createName"
                       [(ngModel)]="creating.name"
                       name="name"
                       required
                       #name="ngModel">
            </div>

            <button class="btn btn-success"
                    [disabled]="fCreate.invalid">Create</button>


        </form>
    </div>
</ng-template>