<table class="table">
	<thead>
		<tr class="hover-hidden-action">
			<th>
				<h5 class="text-info">{{ mergeObject.fieldName + ": {" }}</h5>
			</th>
			<th colspan="2">
				<div class="btn-toolbar toolbar-container hidden-action"
					role="toolbar"
					aria-label="Toolbar with button groups">
					<div class="btn-group mr-2"
						dropdown
						role="group"
						aria-label="First group">
						<button type="button"
							class="btn btn-info"
							title="Create Merge Object"
							(click)="openModal(createTemplate)"><i class="far fa-plus-square"></i></button>
						<button type="button"
							*ngIf="availableMergeFields && availableMergeFields.length"
							dropdownToggle
							class="btn btn-warning"> <i class="fas fa-plus"></i> Add Merge Field</button>
						<ul id="dropdown-basic"
							*dropdownMenu
							class="dropdown-menu"
							role="menu"
							aria-labelledby="button-basic">
							<li role="menuitem"
								*ngFor="let mergeField of availableMergeFields"
								(click)="addMergeField(mergeField)">{{mergeField.name}}</li>
						</ul>

						<button type="button"
							class="btn btn-danger"
							title="Remove Object"
							(click)="removeMergeObject()"><i class="fas fa-trash-alt"></i></button>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let field of mergeObject.fields"
			class="hover-hidden-action">
			<td>&nbsp;</td>
			<td>
				<h5 class="text-info field-name">{{field.name}}:</h5> {{field.type}}
			</td>
			<td>
				<button class="btn btn-small hidden-action"
					(click)="removeMergeField(field)">X</button>
			</td>
		</tr>
		<tr *ngFor="let mergeItem of mergeObject.objects">
			<td>&nbsp;</td>
			<td colspan="2">
				<app-merge-object-item [mergeObject]="mergeItem"></app-merge-object-item>
			</td>
		</tr>
		<tr>
			<td>
				<h5 class="text-info">{{ "}" }}</h5>
			</td>
		</tr>
	</tbody>
</table>

<ng-template #createTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Create New Object</h4>
		<button type="button"
			class="close pull-right"
			aria-label="Close"
			(click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form #fCreate="ngForm"
			(ngSubmit)="addMergeObject(fCreate)"
			novalidate>
			<div class="form-group">
				<label for="createName">Create New Object</label>
				<input type="text"
					class="form-control"
					id="createName"
					[(ngModel)]="newObjectFieldName"
					name="name"
					required
					#name="ngModel"
					placeholder="Enter Object Name">
			</div>
			<button class="btn btn-success"
				[disabled]="fCreate.invalid">Add</button>
		</form>
	</div>
</ng-template>