.merge-container {
  margin-top: 2px;
}

.delete-merge-field {
  padding: 3px 6px;
  font-size: 10px;
  margin-left: 20px;
}

.hidden-action {
  visibility: hidden;
}

.hover-hidden-action:hover .hidden-action {
  visibility: visible;
}
