<div class="container">
    <div class="row">
        <h3 class="mt-2">Site Features</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card text-white mb-3 border-danger text-center"
                 style="max-width: 18rem;">
                <div class="card-header">List of Merge Fields</div>
                <div class="card-body">
                    <h5 class="card-title">Merge Fields</h5>

                    <span class="home-icon"><i class="fas fa-sitemap"></i></span>
                    <a [routerLink]="['merge-fields']"
                       class="btn btn-danger">Merge Fields</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card text-white mb-3 border-info text-center"
                 style="max-width: 18rem;">
                <div class="card-header">List of Merge Objects</div>
                <div class="card-body">
                    <h5 class="card-title">Merge Objects</h5>
                    <span class="home-icon"><i class="fas fa-sitemap"></i></span>
                    <a [routerLink]="['merge-objects']"
                       class="btn btn-info">Merge Objects</a>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card text-white mb-3 border-secondary text-center"
                 style="max-width: 18rem;">
                <div class="card-header">List of Model Objects</div>
                <div class="card-body">
                    <h5 class="card-title">Model Builder List</h5>
                    <span class="home-icon"><i class="fas fa-sitemap"></i></span>
                    <a [routerLink]="['model-builder-list']"
                       class="btn btn-secondary">Model Builder List</a>
                </div>
            </div>

        </div>
    </div>

</div>