<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card text-white mb-3 border-success text-center"
                 style="max-width: 18rem;">
                <div class="card-header">Model Builder</div>
                <div class="card-body">
                    <h5 class="card-title">Model Builder</h5>
                    <p class="card-text">Click on link below to view all models</p>
                    <a [routerLink]="['model-builder']"
                       class="btn btn-success">Model Builder List</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-white mb-3 border-warning text-center"
                 style="max-width: 18rem;">
                <div class="card-header">Manage Merge Fields</div>
                <div class="card-body">
                    <h5 class="card-title">Manage Merge Fields</h5>
                    <p class="card-text">Click on link below to view all merge Fields</p>
                    <a [routerLink]="['manage-merge-fields']"
                       class="btn btn-warning">Merge Field List</a>
                </div>
            </div>

        </div>
    </div>

</div>